<ion-header text-center>
  <ion-navbar>
    <ion-buttons left class="fix-hide-i">
      <button  ion-button icon-only left (click)="presentModal()" *ngIf="changeTable">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Groceries</ion-title>

    <ion-buttons right>
      <button class="fix-hide-i" ion-button icon-only right (click)="changeTable = !changeTable">
        <ion-icon *ngIf="!changeTable" name="create-outline"></ion-icon>
        <span padding-right="10" *ngIf="changeTable">Done</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="list-swipe">
    <ion-item class="list-swipe__item"
              *ngFor="let item of items; let i = index"
              (swipe)="onGesture($event,i)"
              [ngClass]="(disablList && !item.nonActive) ? 'hide'
              : !item.nonActive ? 'active'
              : item.nonActive ? 'non-active'
              : ''">
      <div class="list-swipe__left">
        <ion-icon name="cart-outline"></ion-icon>
      </div>
      <div class="remove-block"  *ngIf="changeTable">
        <button class="remove-block__button" (click)="removeItem(item)">
          <ion-icon name="remove-circle" color="danger"></ion-icon>
        </button>
      </div>
      <p class="list-title" [ngClass]="changeTable ? 'left-move' : ''" (click)="changeTitle(item.name,i)"> {{ item.name }}</p>
      <div class="list-swipe__right">
        <ion-icon name="home-outline"></ion-icon>
      </div>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="showSroll">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="disablList" class="if-hide-all" text-center>
      You haven't selected any products
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid radio-group class="radio-footer">
      <ion-row>
        <ion-col col-6 text-center>
          <ion-item class="radio-footer__item">
            <ion-radio value="0" (click)="disablList = false" checked></ion-radio>
            <ion-label>
              <ion-icon *ngIf="disablList" name="list-box-outline"></ion-icon>
              <ion-icon *ngIf="!disablList" name="list-box"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6 text-center>
          <ion-item class="radio-footer__item">
            <ion-radio value="1" (click)="disablList = true"></ion-radio>
            <ion-label>
              <ion-icon *ngIf="!disablList" name="cart-outline"></ion-icon>
              <ion-icon *ngIf="disablList" name="cart"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
