page-home {
  background: red;
  //remove some style ion
  .list {
    &-md {
      margin: 1px 0 1px;
    }
    &[inset] {
      margin: 0;
      .item{
        border-width: 0;
        padding: 0;
      }
    }
    .label {
      margin-right: 0;
    }
    ion-item-options {
      border: none;
    }
    ion-item-sliding {
      border-bottom: 2px solid #d5d6d6;
      position: relative;
    }
    .state-icon {
      margin: 0;
    }
  }
  .item {
    height: 50px;
    padding-left: 0;
    ion-avatar[item-start] {
      margin: 0;
      height: 50px;
    }
  }

  .list-title {
    font-family: 'DIN-BoldAlternate', sans-serif;
    color: #2f2b2c;
    font-size: 20px;
    padding: 0 0 0 25px;
    box-sizing: border-box;
    font-weight: bold;
    transition: all 0.3s;
  }
  .list[inset] {
    border-radius: 0;
  }
  .state-icon {
    & ion-icon{
      position: relative;
      background: #e6e7e8;
      min-width: 50px;
      min-height: 50px;
      font-size: 33px;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .fix-hide-i {
    min-width: 60px;
  }

  .if-hide-all {
    display: block;
    font-family: 'DIN-BoldAlternate', sans-serif;
    padding: 20px;
  }

  .non-active ~ .if-hide-all {
    display: none;
  }

  .remove-block {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    width: 50px;
    height: 50px;
    &__button {
      padding: 0;
    }
    .item-inner {
      transition: all 0.6s;
    }
    ion-icon {
      position: relative;
      background: #e6e7e8;
      width: 50px;
      height: 50px;
      font-size: 33px;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .list-swipe {
    &__right, &__left {
      position: absolute;
      top: 0;
      transition: all 0.6s;
      width: 50px;
      height: 50px;
      .item-inner {
        transition: all 0.2s;
      }
      ion-icon {
        position: relative;
        background: #e6e7e8;
        min-width: 50px;
        min-height: 50px;
        font-size: 33px;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &__right {
      right: 0;
      ion-icon {
        border-left: 3px solid #dddedf;
      }
    }
    &__left {
      left: 0;
      ion-icon {
        border-right: 3px solid #dddedf;
      }
    }
    &__item.non-active {
      .list-swipe__right {
        right: -50px;
      }
      .item-inner {
        padding-left: 40px;
      }
      .remove-block {
        left: inherit;
        right: 0;
        box-sizing: border-box;
        ion-icon {
          border-left: 3px solid #dddedf;
        }
      }
    }
    &__item.active {
      .list-swipe__left {
        left: -50px;
      }
      .item-inner {
        padding-left: 0;
      }
      .left-move {
        padding-left: 65px;
      }
      .remove-block {
        ion-icon {
          border-right: 3px solid #dddedf;
        }
      }
    }
  }
}
