<ion-header text-center>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only left (click)="close()">
        Cancel
      </button>
    </ion-buttons>

    <ion-title>Add new list item</ion-title>

    <ion-buttons right>
      <button ion-button icon-only right (click)="edit(myText)">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-input type="text" placeholder="New item" [(ngModel)]="myText" maxlength="27"></ion-input>
    <div text-right>characters left {{27 - myText.length}}</div>
  </ion-grid>
</ion-content>
