//load font

@font-face {
  font-family: 'DIN-BoldAlternate';
  src: url('../assets/fonts/DIN-BoldAlternate/DIN-BoldAlternate.eot');
  src: url('../assets/fonts/DIN-BoldAlternate/DIN-BoldAlternate?#iefix') format('embedded-opentype'), url('../assets/fonts/DIN-BoldAlternate/DIN-BoldAlternate.woff2') format('woff2'), url('../fonts/DIN-BoldAlternate/DIN-BoldAlternate.woff') format('woff'), url('../assets/fonts/DIN-BoldAlternate/DIN-BoldAlternate.ttf') format('truetype');
}

//outline add fix

.ion-md {
  &-cart-outline:before {
    content: "\f3f7";
  }
  &-settings-outline:before {
    content: "\f20d";
  }
  &-create-outline:before {
    content: "\f164";
  }
  &-home-outline:before {
    content: "\f447";
  }
  &-list-box-outline:before {
    content: "\f1ab";
  }
}

//header

.toolbar-title {
  font-family: 'DIN-BoldAlternate', sans-serif;
  font-size: 17px;
  color: #2f2b2c;
  font-weight: bold;
}

.header .icon, .footer .icon{
  color: #2f2b2c;
}
.footer {
  .icon {
    font-size: 38px;
  }
  .item {
    background: none;
    border: none;
    text-align: center;
    & .radio {
      opacity: 0;
    }
    ion-label {
      margin: 0;
      border: none;
    }
    &.item-block .item-inner {
      border: none;
    }
  }
  .col, .grid {
    padding: 0;
  }
}

.platform-ios {
  .remove-block {
    top: -2px;
  }
  .list-swipe {
    &__item.non-active {
      .remove-block {
        right: 2px;
      }
    }
    &__item.active {
      .remove-block {
        left: -2px;
      }
    }
  }
  .ion-list {
    padding-bottom: 0;
  }
}
